<label>Server Name</label>
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> <!--$event va a ser la data que se ingrese, pero dentro del objeto event.
  Para agarrar la data tendriamos que hacer event.target.value-->
<p>{{ serverName }}</p>
<button
  [disabled]="!allowNewServer"
  class="btn btn-primary"
  (click)="onCreateServer()">Add Server</button> <!--(click) event binder with click event!-->
<!--<p [innerText]="allowNewServer"></p>--> <!--This is property Bindig-->
<!--<p>{{allowNewServer}}</p> --><!--This is String interpolation-->
<p> {{ serverCreationStatus }} </p>
<app-server></app-server>
<app-server></app-server>
