<label>Server Name</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<button
  [disabled]="!allowNewServer"
  class="btn btn-primary"
  (click)="onCreateServer()">Add Server</button>
<!--<p> {{ serverCreationStatus }} </p>-->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p> <!-- * significa que la directiva es estructural: agrega o no una estructura de codigo-->
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
